{% extends "base.html" %}
{% block content %}

  <div class="header-container">
    <h3 class="header-text">Type 'help' into the terminal for list of commands, or</h3>
    <h3 class="header-text">type 'clear' to clear the terminal.</h3>
  </div>

  <div class="col-sm-6 offset-sm-3 div-term">
    <img src="/static/term_window.png" class="img-fluid">
    <form method="POST" class="form-term">
      {{form.hidden_tag()}}

      {% for entry in form.history %}
        {{ entry.hidden_tag() }}
        {{ entry.cmd.label }} {{ entry.cmd(class="command-line") }}<br>
        {{ entry.rsp(class="command-line") }}<br>
      {% endfor %}

      {{ form.lst_cmd.label }} {{ form.lst_cmd(class="command-line") }}<br>
      <input type="submit" name="submit" class="invisible">
    </form>

  </div>
  
{% endblock %}
