{% extends "base.html" %}
{% block content %}

  <div class="header-container">
    <h3 class="header-text">Type 'help' into the terminal for list of commands, or</h3>
    <h3 class="header-text">type 'clear' to clear the terminal.</h3>
  </div>

  <div class="col-sm-6 offset-sm-3 div-term">
    <img src="/static/term_window.png" class="img-fluid">
    <form method="post" action="{{url_for('index', form=form)}}" class="form-term">
      {{form.hidden_tag()}}
      {% for entry in form.history %}
        (base) matthew % {{entry.form.cmd(class="command-line")}}<br>
        {{entry.form.rsp(class="command-line")}}<br>
      {% endfor %}
      (base) matthew % {{form.lst_cmd(class="command-line")}}
      <input type="submit" name="submit">
    </form>

  </div>
  
{% endblock %}
